# CONEXIÓN SFTP
SFTP_HOST=sftp.proveedor.com
SFTP_PORT=22
SFTP_USER=usuario_sftp
SFTP_PASSWORD=tu_password_aqui

# APLICACIÓN RPA (SIIGO)
SIIGO_EXECUTABLE_PATH=C:\Ruta\A\Siigo\SiigoWindows.exe
SIIGO_USER=admin_siigo
SIIGO_PASSWORD=password_siigo

# CONFIGURACIONES DE ENTORNO
APP_ENV=development
